* {
	box-sizing: border-box;
  }

body {
	font-family: Arial, Helvetica, sans-serif;
	background-image: url("background_bottling.jpg");
	background-color: black;
	background-size: cover;
	color: white;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

#otsikko-alue {
	background-color: goldenrod;
	border-style: solid;
	border-width: thick;
	padding: 1%;
	border-radius: 15px;
	border-color: darkgoldenrod;
}

#logo {
	font-weight: bolder;
	color: black;
	text-align: center;
	text-shadow: 0 0 6px lawngreen;
}	

#slogan {
	color: lawngreen;
	text-align: center;
	text-shadow: 3px 3px 3px black;
}

#brand {
	border-style: solid;
	border-color: burlywood;
	border-radius: 5px;
	width: 150px;
}

.navbar {
	border-radius: 5px;
}

nav a {
	color: rgb(221, 164, 20);
	text-decoration: none;
}

nav a:hover {
	text-decoration: none;
	color: lightgoldenrodyellow;
}

aside{
	background-color: rgba(210,105,30,0.5);
	border-style: solid;
	border-width: thick;
	padding: 2%;
	border-radius: 15px;
	border-color: darkgoldenrod;
	min-height: 100%;
}

article{
	border-style: solid;
	border-width: thick;
	padding: 1%;
	background-color: rgba(218,165,32,0.7);
	border-radius: 15px;
	border-color: darkgoldenrod;
	max-width: 100%;
	min-height: 650px;
	overflow-wrap: break-word;
}

aside ul {
	list-style-type: none;
	padding: 0;
  }

aside a:link {
	text-decoration: none;
	color: lawngreen;
	transition: 0.5s;
}

aside a:visited {
	text-decoration: none;
	color: lightgoldenrodyellow;
}

aside a:hover {
	text-decoration: none;
	color: gold;
}

.pic {
	border-radius: 15px;
}

#kortit {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
	background-color: goldenrod;
	height: 100%
}

.card-img-top {
	max-height: 200px;
	object-fit: cover;
}

footer{
	border-style: solid;
	border-color: darkgoldenrod;
	border-radius: 15px;
	padding: 1%;
	text-align: center;
}

.source {
	font-weight: bold;
}

aside ol {
  list-style-type: upper-alpha;
  font-weight: bold;
}